<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Тили 2.0 - Сиз жазган сөздүк</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.100.css') }}">

        <script type="text/javascript">

            function vote(obj){
                let data_id = obj.parentElement.getAttribute('data-id')
                console.log("Vote  already in cookies: " + getCookie(data_id));
                console.log(data_id);
                if( !getCookie(data_id) ){ 
                    if( obj.getAttribute('class').includes('word__rating--up') ){
                        upvote(obj, data_id);
                    } else if( obj.getAttribute('class').includes('word__rating--down') ) {
                        downvote(obj, data_id);
                    }
                }
            }

            function deleteWord(obj){
                let data_id = obj.getAttribute('data-id')
                console.log("Deleting " + data_id);

                fetch("{{ url_for('delete') }}", {
                    method: "POST",
                    body: JSON.stringify({
                      'data_id': data_id
                    }),
                    headers: {
                      "Content-type": "application/json; charset=UTF-8"
                    }
                  })
                    .then((json) => console.log(json));
            }

            function upvote(obj, data_id){
                obj.innerHTML = parseInt(obj.innerHTML) + 1;
                savePoll(data_id);
                send_vote(data_id, 1);
            }
            function downvote(obj, data_id){
                obj.innerHTML = parseInt(obj.innerHTML) + 1;
                savePoll(data_id);
                send_vote(data_id, 0);
            }

            function send_vote(data_id, is_upvote){
                fetch("{{ url_for('vote') }}", {
                  method: "POST",
                  body: JSON.stringify({
                    'data_id': data_id,
                    'is_upvote': is_upvote
                  }),
                  headers: {
                    "Content-type": "application/json; charset=UTF-8"
                  }
                })
                  .then((json) => console.log(json));
            }

            function savePoll(word_text){
                var expires = (new Date(Date.now()+ 86400*1000)).toUTCString();
                document.cookie = word_text+'=clicked;expires='+expires+';path=/;';
            }
            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }
        </script>
    </head>

    <body>
        {% include 'nav.html' %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="container">
          <div id="content__inner" class="content__inner" style="min-height: 1074px;">
            {% block content %}
            {% endblock %}
          </div>
        </div>
        
    </body>

</html>